/* Firefox */
:root {
    --primary-color: #182A7F; 
    --secondary-color: #00674F;
    --background-color: #f4f4f9;
    --text-color: #333;
}
body {
    scrollbar-width: thin; 
    scrollbar-color: var(--primary-color) var(--secondary-color);  
}
/* WebKit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 15px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
  background-color: black; /* Track color */
  border: dashed 2px white;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color); /* Scrollbar color */
  border-radius: 3px; 
}
::-webkit-scrollbar-thumb:hover {
  /* background: var(--secondary-color);  */
  background-color: rgba(0, 103, 79, 0.8);
}