/* Author Name: Dharineesh K S; */
/* Global Style Start */
/* 8a2be2 252027 */
:root {
    --primary-color: #182A7F; 
    --secondary-color: #00674F;
    --background-color: #f4f4f9;
    --text-color: #333;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}
.h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 2rem;
}
.h3 {
    color: var(--primary-color);
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.quote {
    font-style: italic;
    text-align: center;
    margin-top: 2rem;
    color: var(--secondary-color);
    font-size: 1.2rem;
}
/* scroll progress bar Styles */
#scroll-progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background-color: var(--secondary-color);
    z-index: 1000;
}
/* Section Styles */
.section {
    padding: 3rem;
    margin: 2rem auto;
    width: 85%;
    /* background-color: #fff; */
    animation: fadeIn 1s ease-in-out;
    /* background: rgba( 255, 255, 255, 0.25 ); */
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
@media (max-width: 768px) {
    .section {
        padding: 1rem;
        margin: 1rem auto;
    }
}
.section.visible {
    opacity: 1;
    transform: translateY(0);
}
/* List Styles Start*/
.experience-list, .education-list, .certification-list, .skill-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.experience-item, .education-item, .certification-item {
    border-left: 4px solid var(--primary-color);
    padding-left: 1.5rem;
    transition: background-color 0.3s ease;
    text-align: justify;
}
.experience-item:hover, .education-item:hover, .certification-item:hover {
    background-color: #e6f6ff;
}
.certification-item {
    text-align: left;
}
/* List Styles End*/
/* Global Style End */

/* Header Styles Start*/
.time-display {
    font-family: 'Poppins', sans-serif;
    font-size: smaller;
    margin-right: 5px;
    padding: 5px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    color: white;
}
.top-header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 2px;
}
header { 
    display: flex;
    justify-content:left;
    align-items: center;
    background-color: var(--primary-color);
    padding: 15px 0px 0px 5px;
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}
header div {
    padding: 0 30px 0 2px;
}
.header-text {
    font-weight: bold;
    font-size: 20px;
    padding-right: 8px;
}
.logo {
    /* padding-left: 5px; */
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary-color);
}
/* Dark Mode Styling Start*/
body.dark-mode {
    background-color: black;
    color: #f4f4f4;
}
body.dark-mode .quote {
    font-style: italic;
    text-align: center;
    margin-top: 2rem;
    color: white;
    font-size: 1.2rem;
}
body.dark-mode .contactQuote {
    font-style: italic;
    text-align: center;
    color: #f4f4f4;
    font-size: 1.2rem;
}
body.dark-mode .contact-details p {
    color: #f4f4f4;
}
body.dark-mode .contact-details a {
    text-decoration: none;
    color: #f4f4f4;
}
body.dark-mode header {
    background-color: var(--primary-color);
}
body.dark-mode .logo {
    /* padding-left: 5px; */
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}
body.dark-mode nav ul li a:hover {
    background-color: var(--secondary-color);
    border-radius: 5px;
    transform: scale(1.20);
}
body.dark-mode .slider::before {
    background-color: var(--primary-color);
}
body.dark-mode .scrolling-list a {
    color: #f4f4f4;
}
body.dark-mode nav {
    background-color: var(--primary-color);
}
body.dark-mode .scrollText {
    color: #f4f4f4;
}
body.dark-mode .btn {
    background-color: var(--primary-color);
}
body.dark-mode .music-btn, body.dark-mode .time-display {
    background-color: var(--primary-color);
}
body.dark-mode .btn:hover {
    background-color: var(--secondary-color);
}
body.dark-mode .btn::after {
    background-color: rgba(255, 255, 255, 0.1);
}
body.dark-mode .h2 {
    color: #f4f4f4;
}
body.dark-mode .h3 {
    color: #f4f4f4;
}
body.dark-mode .experience-item:hover {
    background-color: var(--primary-color);
}
body.dark-mode .education-item:hover {
    background-color: var(--primary-color);
}
body.dark-mode .certification-item:hover {
    background-color: var(--primary-color);
}
body.dark-mode .certificationLink{
    color: #f4f4f4;
}
body.dark-mode .project {
    color: black;
}
body.dark-mode .project:hover {
    color: white;
}
body.dark-mode footer{
    background-color: var(--primary-color);
}
body.dark-mode .btn-li:hover {
    background-color: #0077B5;
}
body.dark-mode .btn-hr:hover {
    background-color: #2EC866;
}
body.dark-mode .btn-yt:hover {
    background-color: #ff0000;
}
body.dark-mode .contactH2 {
    color: white;
}


body.dark-mode .btn-bl:hover {
    background-color: #ff5722;
}

/* Toggle Switch Container */
.switch-container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-right: 5px;
}
/* Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 22px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* Slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width:15px;
    left: 4px;
    bottom: 4px;
    background-color: var(--secondary-color);
    transition: 0.4s;
    border-radius: 50%;
}
/* When checked, move the slider */
input:checked + .slider {
    background-color: var(--primary-color);
}
input:checked + .slider:before {
    transform: translateX(10px);
}
/* Dark Mode Toggle */
input:checked + .slider {
    background-color: #f4f4f4;
}
/* Dark Mode Styling End*/
/* Header Styles End*/
/* Navigation Styles Start*/
nav {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    padding-bottom: 10px;
    padding-right: 10px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    display: inline-flex;
    align-items: center;
}
nav ul li a:hover {
    background-color: var(--primary-color);
    border-radius: 5px;
    transform: scale(1.30);
    padding: 1px 5px 1px 5px;
}
/* SVG Icons */
svg {
    width: 18px;
    height: 15px;
    color: white;
    text-align: center;
}
/* Hamburger Menu Styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 3;
}
.line {
    height: 3px;
    width: 29px;
    background-color: #fff;
    margin: 3px 0;
    transition: all 0.3s ease;
}
/* Hamburger Menu Active State */
.hamburger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.active .line:nth-child(2) {
    opacity: 0;
}
.hamburger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}
/* Mobile Styles */
@media (max-width: 768px) {
    nav {
        justify-content: end;
    }
    .nav-links {
        display: none; /* Hide links initially */
        position: absolute;
        top: 60px; /* Adjust based on header height */
        left: 0;
        right: 0;
        background-color: var(--secondary-color);
        flex-direction: column;
        text-align: center;
        gap: 2;
        padding: 1rem 0;
        padding-left: 1rem;
        z-index: 2;
    }
    body.dark-mode .nav-links {
        background-color: var(--primary-color);
    }
    .nav-links.active {
        display: flex; /* Show links when active */
    }
    .hamburger {
        display: flex; /* Show hamburger menu */
        margin-right: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
}
/* Navigation Styles End*/
/* About Section Styles Start */
.about-content {
    display: grid;
    /* grid-template-columns: 200px 1fr; 150px for image, 1fr for text */
    gap: 1rem;
    padding: 0.1rem;
    justify-content: center;
    align-items: center;
}
.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    /* border: 2px solid var(--primary-color); */
}
.about-text {
    text-align: justify;
}
.about-text p {
    margin-bottom: 2px;
}
/* Mobile responsive layout */
@media screen and (max-width: 768px) {
    .about-content {
        grid-template-columns: 1fr; /* Stack image and text */

    }
    /* Stack buttons in one column on mobile */
    .about-btn {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .about-img {
        text-align: center;
    }
}
/* button Style */
.btn {
    display: inline-flex;
    flex-direction: row;
    padding: 5px;
    background-color: var(--secondary-color);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
    margin-left: 5px;
    text-align: center;
    width: auto;
    align-items: center;
    justify-content: center;
}
@media (max-width: 550px) { 
.btn-mobile {
    display: inline-flex;
    flex-direction: column;
}
}


.btn:hover {
    /* background-color: var(--primary-color); */
    transform: scale(1.05);
}
.btn:hover {
    background-color: var(--primary-color);
}
.btn-li:hover {
    background-color: #0077B5;
}
.btn-hr:hover {
    background-color: #2EC866;
}
.btn-yt:hover {
    background-color: #ff0000;
}


.btn-bl:hover {
    background-color: #ff5722;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.5s ease-in-out;
    z-index: 1;
}
.btn:hover::after {
    transform: translateX(-50%) scaleX(1);
}
.music-btn {
    margin-right: 8px;
    padding: 5px;
    background-color: var(--secondary-color);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    align-items: center;
    justify-content: center; 
}
/* Scroll Style Start */
.scrollText {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.scrolling-container {
    height: 225px;
    overflow: hidden;
    position: relative;
}
.scrolling-content {
    position: absolute;
    width: 100%;
    animation: scroll-up 25s linear infinite;
    text-align: center;
}
.scrolling-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.scrolling-list li {
    margin: 10px 0;
}
.scrolling-list a {
    color: var(--secondary-color);
    text-decoration: none;
}
.scrolling-list a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}
@keyframes scroll-up {
    0% {
        top: 100%;
    }
    100% {
        top: -100%;
    }
}
/* Scroll Style End */
/* About Section Styles End */
/* Skill Section Styles Start*/
.skill-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.skill-item {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border-radius: 50px;  /* Gives a more 'cloud' look */
    font-weight: bold;
    text-align: center;
    width: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  /* Adds shadow for cloud effect */
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.skill-item:hover {
    /* #6a1ab1 */
    background-color: var(--secondary-color);
    cursor: pointer;
    transform: scale(1.1);
}
/* Skill Section Styles End*/
/* Certification Section Styles Start*/
.certificationLink{
    color: black;
    text-decoration: none;
}
.certificationLink:hover{
    text-decoration: underline;
}
/* Certification Section Styles End*/
/* Animations Start */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}
/* Animations End */

/* Product Section Style Start */
.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}
@media (max-width: 768px) { 
    .product-container {
            grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
}
.card {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}
.project-details-products {
    text-align: justify;
}
.project-view-btn {
    text-align: center;

}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card h2 {
    margin: 10px 0;
    color: var(--primary-color);
}

.card p {
    color: #000;
}

.card button {
    background: #6a1ab1;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.card button:hover {
    background: var(--primary-color);
}
/* Product Section Style end */

/* Project Section Style Start*/
.project-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.project {
    margin-bottom: 5px;
    border: 1px solid #ccc;
    padding: 1rem;
    width: 45%;
    text-align: center;
    cursor: pointer;
    background-color: #f4f4f9;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
}
.project:hover {
    transform: scale(1.05);
    background-color: var(--primary-color);
    color: white;
}
.projectH3{
    margin-top: 2rem;
    margin-bottom: 1rem; 
}
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    
}
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    /* color: rgb(138, 43, 226); */
    color: var(--primary-color);
    text-decoration: none;
}
.modal-header {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--secondary-color);
}
.modal-body {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
}
@media (max-width: 768px) {
    .project {
        width: 100%;
    }
}
/* Project Section Style End*/

/* Gallery Section Start*/
.gallery-section {
    text-align: center;
    padding: 20px;
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.gallery-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.gallery-item:hover {
    transform: scale(1.05);
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
    transition: all 0.3s;
}
.gallery-item .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: left;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.gallery-item:hover .overlay {
    opacity: 1;
}

/* Modal Style Start*/
.galleryModal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
}

.gallery-close-btn {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.gallery-close-btn:hover {
    color: var(--primary-color);
}
.galleryModal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    width: 70%;
}
.galleryModal-link{
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
.galleryModal-link a {
    color: white;
    text-decoration: none;
}
.galleryModal-link a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}
.galleryModal-caption {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
/* Slider controls */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
@media (max-width: 768px) {
    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }
    .prev, .next {
        top: auto;
    }
}
@media (max-width: 300px) {
    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 20px;
    }
}
/* Gallery Section End*/

/* Contact Section Start*/
#contact {
    padding: 60px 0;
    font-family: 'Poppins', sans-serif;
}
.contactH2 {
    text-align: center;
    font-size: 2rem;
    color: var(--primary-color);
}
.contactQuote {
    font-style: italic;
    text-align: center;
    color: var(--secondary-color);
    font-size: 1.2rem;
}
.contact-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}
.contact-details div {
    flex: 1;
    margin: 15px;
}
.contact-details h4 {
    color: var(--primary-color);
    margin-bottom: 10px;
}
.contact-details p {
    color: var(--secondary-color);
}
.contact-details a {
    text-decoration: none;
    color: var(--secondary-color);
}
/* Google Form */

.google-form {
    padding-left: 10px;
    padding-right: 10px;
    
}
.google-form iframe {
    width: 100%;
    height: 600px;
    border: 5px solid #8a2be2;
    border-radius: 8px;
    margin: 1 auto;
}
@media (max-width: 768px) {
    .contact-details {
        display: grid;
    }
}
/* Contact Section End*/
/* Footer Styles Start*/
footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    margin-top: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
footer p {
    margin: 2px;
}
footer a {
    color: white;
    display: inline-flex;
    align-items: center;
}
/* Footer Styles End*/
